body {
    margin-top: 25px;
    margin-left: 100px;
    font-family: "Helvetica", Arial, sans-serif;
    color: #2F4F4F;
}

#cat {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}