<h2>Add a Pattern</h2>
<p>At a minimum, please include the following:
  <ul>
    <li>Name</li>
    <li>Category</li>
    <li>URL</li>
  </ul>

<form method="POST" action="/patterns">

  <p><b>Pattern Name:</b> <input type='text' name="pattern_name"></p>
  <p>
    <b>Item Category:</b>
    <select name="pattern_category">
      <option value="hat">Hat</option>
      <option value="scarf">Scarf</option>
      <option value="gloves">Gloves</option>
      <option value="shawl">Shawl</option>
      <option value="sweater">Sweater</option>
      <option value="home">Home</option>
      <option value="toys">Toys</option>
      <option value="etc">Etc.</option>
    </select>
  </p>
  <p><b>URL:</b> <input type='text' name='pattern_url'></p>
  <p>
    Free Pattern:
    <select name="free_pattern">
      <option value="na">N/A</option>
      <option value="free">Free</option>
      <option value="paid">Paid</option>
    </select>
  </p>
  <p>Suggested Yarn: <input type='text' name='suggested_yarn'></p>
  <p>
    Yarn Weight:
    <select name="yarn_weight">
      <option value="na">N/A</option>
      <option value="lace">Lace</option>
      <option value="fingering">Fingering</option>
      <option value="dk">DK</option>
      <option value="worsted">Worsted</option>
      <option value="chunky">Chunky</option>
      <option value="super bulky">Super Bulky</option>
    </select>
  </p>
  <p>Needle Size: <input type='text' name='needle_size'></p>
  <p>Notes: <input type='text' name='pattern_notes'></p>
  <p>
    Yardage:
    <select name="yardage">
      <option value="na">N/A</option>
      <option value="100">0 - 100 yds</option>
      <option value="250">100 - 250 yds</option>
      <option value="500">250 - 500 yds</option>
      <option value="1000">500 - 1,000 yds</option>
    </select>
  </p>
  <p><input type='submit' value='Save this pattern'></p>

</form>