<h2>Add a Pattern</h2>
<p>At a minimum, the pattern should have a name, category and URL</p>

<form method="POST" action="/patterns">

  <p>Pattern Name: <input type='text' name="pattern_name"></p>
  <p>
    Item Category:
    <select name="Item Category">
      <option value="hat">Hat</option>
      <option value="scarf">Scarf</option>
      <option value="gloves">Gloves</option>
      <option value="shawl">Shawl</option>
      <option value="sweater">Sweater</option>
      <option value="home">Home</option>
      <option value="toys">Toys</option>
      <option value="etc">Etc.</option>
    </select>
  </p>
  <p>
    Free Pattern:  
    <select name="Free Pattern?">
      <option value="free">Free</option>
      <option value="paid">Paid</option>
    </select>
  </p>

  <p>URL: <input type='text' name='pattern_url'></p>
  <p>Suggested Yarn: <input type='text' name='suggested_yarn'></p>
  <p>Yarn Weight: <input type='text' name='yarn_weight'></p>
  <p>Guage: <input type='text' name='guage'></p>
  <p>Needle Size: <input type='text' name='needle_size'></p>
  <p>Yardage: <input type='integer' name='yardage'></p>
  <p>Notes: <input type='text' name='notes'></p>
  <input type='submit'>

</form>