<h2>Create an account for tracking your patterns</h2>

<h2>Sign Up</h2>

<form method="POST" action="/signup">

  <p>Username: <input type='text' id='username' name="username"></p>
  <p>Password: <input type='text' id='password' name='password'></p>
  <input type='submit'>

</form>
