<link rel="stylesheet" type="text/css" href="/style.css">

<html>
  <body>
    <img src="/cat.jpg" alt="cat" id="cat" style="width:300px;height:200px;">
    <h1> Knit Tracker </h1>
    <p><i> Track your projects! </i></p>
    <br>
    <% if flash[:notice] %>
      <b><i><p class="notice"><%= flash[:notice] %></p></i></b>
    <% end %>
  <%= yield %>
  </body>
</html>